html {
    background-color: papayawhip;
}

body {
    margin: 0;
}

.page-name {
    margin: 0;
}

.site-header {
    background-color: lightsteelblue;
    padding: 30px;
    color:ghostwhite;
    margin-bottom: 20px;
}

.nav-links {
    color: ghostwhite;
}

.nav-links:hover {
    background-color: aliceblue;
    color: black;
    padding: 10px;
}

.nav-links:active {
    background-color: burlywood;
}

.nav-links:focus {
    font-size: 30px;
}

.main-content {
    background-color:lightslategrey;
    padding: 30px;
}

.site-footer {
    background-color:silver;
    padding: 30px;
    margin-top: 20px;
}