html {
    background-color:ghostwhite
}

body {
    margin: 0;
}

.site-header {
    background-color:darkgoldenrod;
    padding: 30px;
    color:black;
    margin-bottom: 20px;
}

.nav-links {
    color:black;
}

.main-content {
    background-color:gold;
    padding: 30px;
}

.site-footer {
    background-color: black;
    color: ghostwhite;
    padding: 30px;
    margin-top: 20px;
}

.nav-links-2 {
    color:ghostwhite;
}